# Tutoriel d'usage de l'API

In [63]:
import urllib.parse

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

In [64]:
import numpy as np

## Creating an avatar

The admin of the competition can create users. A user can then create as many avatars as they wish.

In [65]:
import requests

user_id = '12e1e6fc-456b-4738-ba59-b90c3386f583'
name = 'ema-first-avatar'
r = requests.post(path(f'avatars/{user_id}/{name}'))
r

In [66]:
# name = 'max-second-avatar'
# r = requests.post(path(f"avatars/{user_id}/{name}"))
# r

In [67]:
r = requests.get(path(f"avatars/{user_id}"))
for avatar in r.json():
    print(avatar['id'], avatar['name'])

6217 ema-first-avatar

## Making pricing requests

In [68]:
language_list=['austrian', 'belgian', 'bulgarian', 'croatian', 'cypriot', 'czech', 'danish', 'dutch', 'estonian', 'finnish', 'french', 'german', 'greek', 'hungarian', 'irish', 'italian', 'latvian', 'lithuanian', 'luxembourgish', 'maltese', 'polish', 'portuguese', 'romanian', 'slovakian', 'slovene', 'spanish' ,'swedish']

city_list=['amsterdam', 'copenhagen', 'madrid', 'paris', 'rome', 'sofia', 'valletta', 'vienna','vilnius']

mobile_list=['0','1']

date_list=list(np.arange(1,45,1))

In [69]:
## A modifier logiquement selon dates souhait√©es

date_list_soon=[3,5,8,10,14]

date_list_middle=[15,18,22,27,29]

date_list_away=[28,31,35,36,39,44]

In [70]:
language_test='hungarian'
avatar_test='ema-first-avatar'

In [71]:
requests_list=[]

for date in reversed(date_list_middle) : 
    for city in city_list : 
        params = {
            "avatar_name": avatar_test,
            "language": language_test,
            "city": city,
            "date": date,
            "mobile": np.random.randint(0,2),
        }
        r = requests.get(path(f"pricing/{user_id}"), params=params)
        r.json()
        
        requests_list.append(r)

## Build a training set

In [85]:
import pandas as pd

pricing_requests = []

for r in requests_list:
    pricing_requests.append(
        pd.DataFrame(r.json()['prices']).assign(**r.json()['request'])
    )

pricing_requests = pd.concat(pricing_requests)
pricing_requests.head()

   hotel_id  price  stock       city  date   language  mobile  avatar_id
0       515    263     92  amsterdam    29  hungarian       1       6217
1       450    175     82  amsterdam    29  hungarian       1       6217
2       234    152     49  amsterdam    29  hungarian       1       6217
3       507    110     32  amsterdam    29  hungarian       1       6217
4       880    113     39  amsterdam    29  hungarian       1       6217

In [76]:
# print(pricing_requests[ pricing_requests['mobile'] == 0])

    hotel_id  price  stock        city  date   language  mobile  avatar_id
0        335     87     43  copenhagen    29  hungarian       0       6217
1         43     79     59  copenhagen    29  hungarian       0       6217
2        350    296    121  copenhagen    29  hungarian       0       6217
3        506    122     21  copenhagen    29  hungarian       0       6217
4        309     94     39  copenhagen    29  hungarian       0       6217
..       ...    ...    ...         ...   ...        ...     ...        ...
46       201     96     15       sofia    15  hungarian       0       6217
47       304     90     36       sofia    15  hungarian       0       6217
48       208     65      2       sofia    15  hungarian       0       6217
49       802     85      0       sofia    15  hungarian       0       6217
50        44     56      2       sofia    15  hungarian       0       6217

[2158 rows x 8 columns]

In [78]:
data=pd.read_csv('./Datatrain/test_requete.csv')

In [79]:
data=data.drop(['Unnamed: 0'],axis=1)

In [91]:
pricing_requests=pd.concat([data,pricing_requests])

In [93]:
pricing_requests.to_csv('./Datatrain/test_requete.csv')

In [94]:
hotels = pd.read_csv('features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city'])
pricing_requests.head()

,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,556,175,60,copenhagen,30,hungarian,0,6217,Boss Western,J.Halliday Inn,1,0,0
1,664,284,111,copenhagen,30,hungarian,0,6217,Accar Hotels,Safitel,0,1,0
2,96,124,37,copenhagen,30,hungarian,0,6217,Boss Western,Boss Western,0,0,0
3,865,277,107,copenhagen,30,hungarian,0,6217,Chillton Worldwide,Chill Garden Inn,1,1,0
4,58,203,65,copenhagen,30,hungarian,0,6217,Yin Yang,Royal Lotus,1,0,2

In [95]:
pricing_requests.to_csv('./Datatrain/test_requete_features.csv')

In [11]:
# sample_submission = pd.read_csv('../input/defi-ia-2023/sample_submission.csv')
# sample_submission.head()

   index  price
0      0  191.0
1      1  191.0
2      2  191.0
3      3  191.0
4      4  191.0

In [12]:
# sample_submission.to_csv('submission.csv', index=False)